.header-main {
  width: 100%;
  margin-top: 30px;
  padding-left: 30px;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  margin-right: 30px;
}

.logo-img {
  height: 50px;
  width: auto;
}

.row {
  width: 1140px;
  margin: auto;
}

.header-nav {
  color: black;
}

.header-name {
  overflow: hidden;
}

/* Style the search box inside the navigation bar */
.header-name input[type="text"] {
  padding: 5px;
  float: right;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-left: 20px;
  width: 40%;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .header-name input[type="text"] {
    display: block;
    text-align: left;
    width: 60%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

.user-list {
  list-style: none;
  float: right;
}

.user-list li {
  display: inline-block;
  margin: 0 10px 0 20px;
}

*:focus {
  outline: none;
}
