.articlecard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 350px;
  max-height: 500px;
  overflow-wrap: normal;
  background-color: #efefef;
  margin: 10px 10px;
  border-radius: 10px;
  /* width: 30%; */
  box-shadow: rgba(195, 195, 195, 0.55) 5px 5px 10px 0px;
}

.articlecard:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* div {
  border: 2px solid black;
} */

.acticlecard__image > img {
  width: 100%;
  max-width: 350px;
  object-fit: contain;
  max-height: 250px;
  border-radius: 10px;
}

/* .acticlecard__image > img:hover {
  transform: scale(1.03);
} */

.articlecard_published {
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 580;
}

.acticlecard__content > h2 {
  font-weight: 480;
  font-size: 16px;
  padding: 5px 10px;
}

.acticlecard__content > h2:hover {
  font-weight: bold;
  transform: scale(1.03);
  color: black;
  transition: transform 0.5s;
}

.acticlecard__stats {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 5px 10px;
}
