

.App-logo {
  height: 7vmin;
  padding-top: 10px;
  margin-bottom: -10px;
}

body {
  background-color: darkgray;
  color: #343434;
  width: 95%;
  margin: auto;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

header img{
  display: inline;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 10px;
}

ul.header li a {
  color: #000;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: underline;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: beige;
  padding: 20px;
  height: 100%;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}